@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: antiquewhite;
}
nav {
  font-family: "Ubuntu" sans-serif;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  height: 50px;
  background-color: black;
  color: white;
}
nav ul li {
  padding: 0px 10px;
}
.brand {
  display: flex;
  align-items: center;
  font-weight: bolder;
  font-size: 1.3rem;
}
.brand img {
  width: 32px;
}

.container {
  min-height: 70vh;
  background-color: black;
  color: white;
  font-family: "Varela Round" sans-serif;
  display: flex;
  margin: 18px auto;
  width: 70%;
  border-radius: 10px;
  padding: 13px;
  background-image: url("bg.jpg");
}
.bottom {
  position: sticky;
  height: 70px;
  background-color: black;
  color: white;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icons {
  margin-top: 8px;
}
.icons i {
  cursor: pointer;
}
#myProgressBar {
  width: 80vw;
  text-align: center;
  cursor: pointer;
}
.songItemContainer {
  margin-top: 40px;
}
.songItem {
  height: 32px;
  display: flex;
  background-color: white;
  color: black;
  font-size: 13px;
  font-weight: bold;
  margin: 8px 0;
  justify-content: space-between;
  align-items: center;
  border-radius: 18px;
}
.songItem img {
  width: 50px;
  margin: 0 10px;
  border-radius: 45%;
}

.timestamp {
  padding: 0 10px;
  cursor: pointer;
}

.songInfo {
  position: absolute;
  left: 10vw;
  font-family: "Varela Round" sans-serif;
}
.songInfo img {
  opacity: 0;
  transition: opacity 0.8s ease-in;
}
@media only screen and (max-width: 1100px) {
  body {
    background-color: red;
  }
}
#masterSongName {
  font-size: 0.8em;
}
